apiVersion: markitect.example.org/pipelines-check/v1alpha1
pipelines:
    - name: github-ci
      provider: github-actions
      path: .github/workflows/ci.yaml
      digest: 5a3b64d5dab3714a4e6d979042b1b703f5e4914a90a7c110719aa9e72137f54c
      owner: development/Rule/module-verification
      expectedChecks:
          - name: architecture-imports
            yamlPath: /jobs/quality/steps/3/run
          - name: go-tests
            yamlPath: /jobs/quality/steps/4/run
          - name: managed-artifacts
            yamlPath: /jobs/quality/steps/11/run
          - name: module-checks
            yamlPath: /jobs/quality/steps/12/run
