apiVersion: markitect.example.org/pipelines-check/v1alpha1
pipelines:
    - name: github-ci
      provider: github-actions
      path: .github/workflows/ci.yaml
      digest: f6423e36b249d10033e18640f70b55fba318cb229ef45bc595b6143a9ef374f9
      owner: development/Rule/module-verification
      expectedChecks:
          - name: architecture-imports
            yamlPath: /jobs/quality/steps/3/run
          - name: go-tests
            yamlPath: /jobs/quality/steps/4/run
          - name: managed-artifacts
            yamlPath: /jobs/quality/steps/11/run
          - name: module-checks
            yamlPath: /jobs/quality/steps/12/run
